@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
/* font-family: "Outfit", sans-serif;
font-family: "Young Serif", serif; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.young_font {
	font-family: "Young Serif", serif;
}

body {
	font-family: "Outfit", sans-serif;
	font-size: 62.5%;
	min-height: 100vh;
	background-color: hsl(30, 54%, 90%);
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-position: inside;
	flex-direction: column;
}

main {
	max-width: 80%;
	background-color: white;
	width: 735px;
	padding: 3.5em;
	border-radius: 1em;
}

img {
	border-radius: 1em;
	width: 100%;
}
h1 {
	margin: 2rem 0 1rem 0;
	font-family: "Young Serif", serif;
	font-weight: 400;
	color: hsl(24, 5%, 18%);
	font-size: 2.5rem;
}

.sub_title {
	font-size: 1rem;
	margin-bottom: 2rem;
	color: hsl(30, 10%, 34%);
}

.prep {
	background-color: hsl(330, 100%, 98%);
	font-size: 0.9rem;
	padding: 1.5rem;
	border-radius: 0.5em;
}
.prep h4 {
	font-size: 1.2rem;
	color: hsl(332, 51%, 32%);
	font-weight: 600;
}

.prep li {
	color: hsl(332, 51%, 32%);
	line-height: 1.7rem;
	margin-left: 0.4rem;
}

.bold {
	margin-left: 1.2rem;
	font-weight: 600;
	font-size: 1rem;
	color: hsl(30, 10%, 34%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
